.NavItem{
  background-color:#C6D93B;
  border: 2rem;
  font-weight: bold;
  padding: 1rem;
  margin:1rem
 
}

.Header {
  background-color: rgb(43, 150, 226);
}

h1 {
  font-size: rem;
  border: 2rem;
  padding:2rem;
  justify-content: center;
}

#root {
  background-color: aqua;
}